<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Find materials. Improve metrics.</h2>
                <hr class="light">
                <p class="text-faded">With Footprint, you now have the possibility to inspect, explore, improve your formula like never before.</p>
                <a href="https://gitlab.com/jekyll-themes/creative/" class="btn btn-default btn-xl">Take me to the app</a>
            </div>
        </div>
    </div>
</section>
